---
layout: archive
title: "Research"
permalink: /research/
author_profile: false
sidebar:
  nav: "Research"
---

Research&nbsp;...
  <br>
  <hr-bold>
  <a id="first-section" data-hs-anchor="true"></a>
  <h2>First section with id=first-section</h2>
  <hr><br>
  <div class="grid">
  <div class="wrapper">
    {% for post in site.team %}
      {% if post.tags contains 'first-section' %}
        {#% include archive-single-proj.html type="grid" %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  
  