---
layout: archive
title: "Team"
permalink: /team/
author_profile: false
sidebar:
  nav: "Team"
---

A description of our team and maybe an invitation&nbsp;...
  <br>
  <hr-bold>
  <a id="PI" data-hs-anchor="true"></a>
  <h2>Principal Investigator</h2>
  <hr><br>
  <div class="grid">
  <div class="wrapper">
    {% for post in site.team %}
      {% if post.tags contains 'PI' %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  
  
  <hr-bold>
  <a id="PostDoc" data-hs-anchor="true"></a>
  <h2>Post-doctoral researchers</h2>
  <hr><br>
  
  <div class="grid">
  <div class="wrapper">
    {% for post in site.team reversed %}
      {% if post.tags contains 'post-doc' %}
      {% if post.date < site.time %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  
  <hr-bold>
  <a id="PhD" data-hs-anchor="true"></a>
  <h2>PhD students</h2>
  <hr><br>
  <div class="grid">
  <div class="wrapper">
    {% for post in site.team reversed  %}
      {% if post.tags contains 'phd' %}
      {% if post.date < site.time %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  
  <hr-bold>
  <a id="TechStaff" data-hs-anchor="true"></a>
  <h2>Research Specialists</h2>
  <hr><br>
  <div class="grid">
  <div class="wrapper">
    {% for post in site.team reversed %}
      {% if post.tags contains 'specialist' %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  
  <hr-bold>
  <a id="MasterStu" data-hs-anchor="true"></a>
  <h2>Master students</h2>
  <hr><br>
  <div class="grid">
  <div class="wrapper">
    {% for post in site.team reversed %}
      {% if post.tags contains 'master' %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  
  <hr-bold>
  <a id="OtherStudents" data-hs-anchor="true"></a>
  <h2>Internship & Exchange students</h2>
  <hr><br>
  <div class="grid">
  <div class="wrapper">
    {% for post in site.team reversed %}
      {% if post.tags contains 'inter' %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  
  
  <hr-bold>
  <a id="Honorary" data-hs-anchor="true"></a>
  <h2>Honorary members of the team</h2>
  <hr><br>
  <div class="grid">
  <div class="wrapper">
    {% for post in site.team reversed %}
      {% if post.tags contains 'Honorary' %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
    {% endfor %}
  </div>
  </div>