{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      {% if post.collection == 'team' %}
        {% assign image_src = "/images/team/" %}
        {% assign radij = "40% 75% / 50%" %}
        <div style="height: 300px !important; width: 100%; overflow: hidden; display: flex; align-items: center; justify-content: center; background-color: #f8f9fa; border-radius: {{ radij }};">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink" style="display: block; height: 100%; width: 100%;">
          <img style='object-fit: cover; height: 100%; width: 100%; border-radius: {{ radij }};' src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: image_src | prepend: base_path }}"
            {% endif %}
            alt="">
        </a>
      </div>
      {% else %}
        {% assign image_src = "/images/" %}
        {% assign radij = "0" %}

<div class="archive__item-teaser" style="position: relative; width: 100%; padding-top: 66.66%; overflow: hidden; border-radius: {{ radij }};">
  <a href="{{ base_path }}{{ post.url }}" rel="permalink" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    <img style="object-fit: contain; width: 100%; height: 100%; border-radius: {{ radij }};" src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: image_src | prepend: base_path }}{% endif %}" alt="">
  </a>
</div>
      {% endif %}

    {% endif %}

    {% if post.feature %}
     <div class='pull-right' style='width: 100%; height: 200px; padding: 15px; object-fit: contain;'>
      <img style='object-fit: cover;' src="{{ post.feature | prepend: "/images/" | prepend: base_path }}">
     </div>
    {% endif %}

    <h2 itemprop="headline" style="text-align: center;">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.tagline  %}
    <div style="text-align: center;"><i>{{ post.tagline }}</i></div>
    {% endif %}

<!--     {% if post.excerpt %}
    <center style="font-size: smaller"><p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p></center>
    {% endif %} -->

  {% if post.collection == 'team' and page.url == '/team/'  %}
    {% if post.short %}
    <div style="text-align: center; font-size: small;">{{ post.short }}</div>
    {% elsif post.excerpt %}
    <div style="text-align: center; font-size: small;">{{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</div>
    {% endif %}
  {% endif %}

  </article>
</div>